
li {
    display:inline-block;
    list-style-type: none;
    /* width: 250px; */
    font-size: 30px;  
}

li:hover {
    
    background-color: white;
    color:green;
    
    transition-property: background-color ;
    transition-timing-function: ease-in;
    
} 
#list-none{
    list-style-type: none;
}
#perimg{
    width: 10vw;
    min-width: 150px;
    
}
#i1{
    width: 5vw;
}
#i2{
    width:25vw;
    height: 20vw;
}
#i3{
    width:25vw;
    height: 20vw;
}
#i4{
    width: 5vw;
}
#i5{
    width: 5vw;
}
#i6{
    width:40vw;
}
#i7{
    width:9vw;
    height: 7vw;
}
#i8{
    width: 7vw;
}
#i9{
    width: 7vw;
}
#navebar{
    
    position:fixed ;
    
    width: 100%;
}